<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Path: 4</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen grid place-items-center">
    <div id="app">
        <app-button>Submit</app-button>
    </div>
    <script>
        let app = {
            components: {
                'app-button': {
                    template: `
                        <button class="bg-gray-200 hover hover:bg-gray-300 border rounded px-5 py-2 disabled:cursor-not-allowed" :disabled="processing">
                            <slot/>
                        </button>
                    `,
                    data () {
                        return {
                            processing: false,
                        }
                    },
                },

            },
        }
        

        Vue.createApp(app).mount('#app');
    </script>
</body>